<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>客户端管理</title>
    <script th:replace="common/head::static"></script>
    <style>
        .layui-table-cell {
            height: auto;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row" id="layerDemo">
        <button data-method="appAdd" type="button" class="layui-btn layui-btn-lg layui-btn-radius"
                style="width: 150px">
            <i class="layui-icon">&#xe608;</i> 添加
        </button>
    </div>
    <table id="appTable" lay-filter="test"></table>
    <!-- 表格操作按钮集 -->
    <script type="text/html" id="barOption">
        <a class="layui-btn layui-btn-mini layui-btn-danger" lay-event="del">删除</a>
    </script>
    <style>
        /*解决编辑表格右边出现的下拉箭头*/
        .layui-table-grid-down {
            display: none;
        }
    </style>
</div>
<script>
    layui.config({
        base: '../../common/layui/lay/modules/'
    }).extend({
        tableEdit: 'tableEdit'
    }).use(['table', 'tableEdit', 'layer'], function (message) {
        let $ = layui.jquery, layer = layui.layer, table = layui.table, tableEdit = layui.tableEdit;

        let params = [];
        $.ajax({
            url: ctx + "/sys/link/center/findAll",
            type: "get",
            async: false,
            success: function (data) {
                console.log('获取center data', data);
                if (data.code === 0) {
                    params = data.data;
                }
            }
        })
        //实例
        let appTable = table.render({
            elem: '#appTable'
            , url: '/sys/link/app/data' //数据接口
            , cellMinWidth: 160 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , page: true //开启分页
            , limits: [5, 10, 15, 20, 50]
            , field: "客户端管理"
            , toolbar: '#toolbar'
            , height: 'full-2'
            //因为[ [ … ] ]之间的表达式在thymeleaf被认为是内联表达式,所以渲染错误
            , cols: [
                [ //表头
                    {field: 'id', title: 'id', align: 'center', hide: true},
                    {
                        field: 'createTime',
                        title: '创建时间',
                        align: 'center',
                    }
                    , {
                    field: 'sysName',
                    title: '系统名称',
                    align: 'center',
                    sort: true,
                    event: 'updateApp',
                    config: {type: 'input'}
                }, {
                    field: 'centerName',
                    title: '所属中心',
                    align: 'center',
                    sort: true,
                    event: 'updateCenterName',
                    templet: function (d) {
                        console.log('abb', d);
                        if (d.centerName) {
                            return d.centerName;
                        }
                        return '';
                    }, config: {type: 'select', data: params, verify: true}
                }, {
                    field: 'downUrl',
                    title: '下载地址',
                    config: {type: 'input'},
                    event: 'updateApp',
                    align: 'center',
                }, {
                    field: 'downPassword',
                    title: '下载密码',
                    config: {type: 'input'},
                    event: 'updateApp',
                    align: 'center',
                }
                    , {fixed: 'right', title: '操作', width: 100, align: 'center', toolbar: '#barOption'}
                ]
            ]
        });


        let aopTable = tableEdit.aopObj(appTable.config.cols); //获取一个aop对象

        function editAppManagement(data) {
            console.log('editAppManagement', data);
            $.post(ctx + "/sys/link/app/edit/", data, function (data) {
                console.log('editAppManagement回调函数', data);
                if (data.code === 0) {
                    layer.msg("更新成功！", {icon: 1, time: 2000});
                    appTable.reload();
                } else {
                    layer.msg("更新失败！原因：" + data.msg, {icon: 2, time: 2000});
                    appTable.reload();
                }
            });
        }

        function delAppManagement(obj) {
            console.log('delAppManagement', obj);
            $.get(ctx + "/sys/link/app/del/" + obj.data.id, function (data) {
                console.log('delAppManagement回调函数', data);
                if (data.code === 0) {
                    layer.msg("删除成功！", {icon: 1, time: 2000});
                    appTable.reload();
                } else {
                    layer.msg("删除失败！原因：" + data.msg, {icon: 2, time: 2000});
                }
            });
        }


        //监听工具条
        aopTable.on('tool(test)', function (obj) {
            let data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    console.log('删除', data);
                    // obj.del();
                    layer.close(index);
                    delAppManagement(obj);
                });
            } else if (obj.event === 'updateApp') {
                console.log('编辑obj', obj)
                let value = obj.value //得到修改后的值
                    , data = obj.data //得到所在行所有键值
                    , field = obj.field; //得到字段
                let update = {};
                update[field] = value;
                obj.update(update);
                data[field] = value;
                console.log('编辑', data);
                editAppManagement(data);
            } else if (obj.event === 'updateCenterName') {
                console.log('编辑obj', obj)
                let value = obj.value //得到修改后的值
                    , data = obj.data //得到所在行所有键值
                    , field = obj.field; //得到字段
                let update = {};
                update[field] = value.value;
                obj.update(update);
                data['centerId'] = value.name;
                console.log('编辑', data, '字段', field, '修改后的值：', value);
                editAppManagement(data);
            }
        });

        // 触发事件
        let active = {
            appAdd: function () {
                //示范一个公告层
                layer.open({
                    type: 2//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层)
                    //数组第二项可以写任意css样式；如果你不想显示标题栏，你可以title: false
                    , title: '新增app管理'
                    , closeBtn: false
                    , area: ['550px', '360px']//定义宽高
                    , shade: 0.6//遮幕
                    , id: 'LAY_appManagementAdd' //设定一个id，防止重复弹出
                    , btn: ['新增', '取消']
                    , btnAlign: 'c'//按钮排列：居中对齐
                    , moveType: 1 //拖拽模式，0或者1
                    , content: '/sys/link/app/toAdd'//跳转到想要的界面，这里是我自己项目的跳转界面
                    , yes: function (index, layero) {
                        console.log("success,index=", index, '+layero=', layero);
                        let body = layer.getChildFrame("body", index);
                        let sysName = body.find(".sysName").val();
                        let centerId = body.find(".centerId").val();
                        let downUrl = body.find(".down-url").val();
                        let downPassword = body.find(".down-password").val();
                        if (sysName === '' || downUrl === '' || centerId === '') {
                            layer.msg("数据不能为空", {icon: 2, time: 2000});
                            return;
                        }
                        $.post('/sys/link/app/add', {
                            sysName: sysName,
                            centerId: centerId,
                            downUrl: downUrl,
                            downPassword: downPassword
                        }, function (data) {
                            console.log('sys/link/app/add', data);
                            if (data.code === 0) {
                                //如果设定了yes回调，需进行手工关闭
                                layer.close(index);
                                layer.msg("添加成功", {icon: 1, time: 2000});
                                appTable.reload();
                            } else {
                                layer.msg("新增失败！原因：" + data.msg, {icon: 2, time: 2000});
                            }
                        })
                    }
                })
            }
        }
        $('#layerDemo .layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });
    });
</script>
</body>
</html>