<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>app管理添加</title>
    <script th:replace="common/head::static"></script>
</head>
<body>
<div class="layui-fluid">
    <form class="layui-form" lay-filter="centerAdd">
        <div class="layui-form-item layui-row">
            <div class="layui-col-md5">
                <label class="layui-form-label">系统名称</label>
            </div>
            <div class="layui-input-block layui-col-md7">
                <input type="text" name="sysName" lay-verify="required" autocomplete="off"
                       placeholder="请输入系统名称" class="layui-input sysName">
            </div>
        </div>
        <div class="layui-form-item layui-row">
            <div class="layui-col-md5">
                <label class="layui-form-label">所属中心</label>
            </div>
            <div class="layui-input-block layui-col-md7">
                <select class="centerId" name="centerId" lay-verify="required" lay-search="">
                    <option th:value="${center.name}" th:each="center: ${centerData}" th:text="${center.value}">layer
                    </option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-row">
            <div class="layui-col-md5">
                <label class="layui-form-label">下载地址</label>
            </div>
            <div class="layui-input-block layui-col-md7">
                <input type="text" name="down-url" lay-verify="required" autocomplete="off"
                       placeholder="请输入下载地址" class="layui-input down-url">
            </div>
        </div>

        <div class="layui-form-item layui-row">
            <div class="layui-col-md5">
                <label class="layui-form-label">下载密码</label>
            </div>
            <div class="layui-input-block layui-col-md7">
                <input type="text" name="down-password" lay-verify="required" autocomplete="off"
                       placeholder="请输入下载密码" class="layui-input down-password">
            </div>
        </div>
    </form>
    <script>
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;

            //日期
            // laydate.render({
            //     elem: '#date'
            // });
        });

        document.onkeydown = function (e) {
            var ev = parent.document.all ? window.event : e;
            if (ev.keyCode === 13) {
                return false
            }
        }

    </script>
</div>
</body>
</html>