<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>中心管理添加</title>
    <script th:replace="common/head::static"></script>
</head>
<body>
<div class="layui-fluid">
    <form class="layui-form" lay-filter="centerAdd">
        <div class="layui-form-item layui-row">
            <div class="layui-col-md5">
                <label class="layui-form-label">中心名称</label>
            </div>
            <div class="layui-input-block layui-col-md7">
                <input type="text" name="name" lay-verify="name" autocomplete="off" placeholder="请输入中心名称"
                       class="layui-input centerName">
            </div>
        </div>
    </form>
    <script>
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;

            //日期
            // laydate.render({
            //     elem: '#date'
            // });
        });

        document.onkeydown = function (e) {
            var ev = parent.document.all ? window.event : e;
            if (ev.keyCode === 13) {
                return false
            }
        }

    </script>
</div>
</body>
</html>