<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.mysql.MyPersistentRememberMeToken">
    <insert id="createNewToken">
        INSERT INTO persistent_logins ( username, series, token, last_used )
        VALUES(#{token.username},#{token.series},#{token.tokenValue},#{token.date})
    </insert>

    <update id="updateToken">
       update persistent_logins set token = #{tokenValue}, last_used = #{lastUsed} where series =#{series}
    </update>

    <delete id="removeUserTokens">
      delete from persistent_logins where username = #{username}
    </delete>

    <select id="getTokenForSeries"
            resultType="com.example.demo.entity.MyPersistentRememberMeTokenEntity">
      select username,series,token,last_used from persistent_logins where series =#{seriesId}
    </select>
</mapper>