<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.mysql.UserDao">

    <resultMap id="userSecurityResultMap" type="com.example.demo.dto.UserSecurityDto">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="avatar" property="avatar"/>
        <result column="email" property="email"/>
        <result column="name" property="name"/>
        <collection property="dbAuthorities" ofType="com.example.demo.dto.RoleDto">
            <id property="authorityId" column="authority_id"/>
            <result property="authorityName" column="authority_name"/>
        </collection>
    </resultMap>
    <insert id="addUser">
        INSERT INTO `user` (`avatar`,`email`,`name`,`password`,`username`)
        VALUES (#{user.avatar},#{user.email},#{user.name},#{user.password},#{user.username});
    </insert>

    <select id="userByUsername" resultMap="userSecurityResultMap">
        SELECT
        ut.id,
        ut.avatar,
        ut.email,
        ut.NAME,
        ut.PASSWORD,
        ut.username,
        a.id AS authority_id,
        a.`name` AS authority_name
        FROM
        (
        SELECT
        *
        FROM
        ( SELECT * FROM `user` u WHERE u.`username` =#{username} ) ut
        LEFT JOIN `user_authority` ua ON ut.`id` = ua.`user_id`
        ) ut
        LEFT JOIN `authority` a ON ut.`authority_id` = a.`id`
    </select>

    <select id="findAllUser" resultMap="userSecurityResultMap">
        SELECT
        ut.id,
        ut.avatar,
        ut.email,
        ut.`name`,
        ut.`password`,
        ut.username,
        a.id AS authority_id,
        a.`name` AS authority_name
        FROM
        (
        SELECT
        *
        FROM
        ( SELECT * FROM `user` u ) ut
        LEFT JOIN `user_authority` ua ON ut.`id` = ua.`user_id`
        ) ut
        LEFT JOIN `authority` a ON ut.`authority_id` = a.`id`;
    </select>


</mapper>