<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>控制台</title>
    <script th:replace="common/head::static"></script>
</head>
<body>

<div class="layui-fluid">
    <script th:inline="javascript">
        let node = [[${sysNotices}]];
        console.log('node', node);
    </script>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">欢迎使用</div>
                        <div class="layui-card-body">
                            <br>
                            <br>
                            <p>静远实习项目</p>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-carousel layui-col-md6" id="notice-carousel">
            <div carousel-item="" th:if=" ${#lists.size(sysNotices)}>0">
                <div class="layui-col-md12" th:each="sysNotice:${sysNotices}">
                    <div class="layui-card" style="height: 300px">
                        <div class="layui-card-header" th:text="${sysNotice.title}">系统公告</div>
                        <div class="layui-card-body">
                            <div th:utext="${sysNotice.content}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    layui.config({
        base: '../common/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'console']);

    layui.use(['carousel', 'element'], function () {
        let element = layui.element, carousel = layui.carousel;
        //常规轮播
        carousel.render({
            elem: '#notice-carousel'
            , arrow: 'set'
            , anim: 'fade'
        });
    });


</script>
</body>
</html>

