<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>静远实习项目</title>
    <script th:replace="common/head::static"></script>
    <style>
        * {
            margin: 0;
            padding: 0
        }

        dl {
            margin-bottom: 0px !important;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <script th:replace="common/head::head"></script>

    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <div class="layui-side layui-bg-black" style="background-color: rgba(54, 123, 183,  0.73)">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test" style="background-color: rgba(54, 123, 183,  0.73)">
                <!-- 动态读取加载系统菜单 -->
                <div th:each="menu,iterStat : ${menuList}">
                    <li class="layui-nav-item" th:unless="${#lists.size(menu.children)} eq 0">
                        <a th:text="${menu.menuName}" href="javascript:;">XXX</a>
                        <dl class="layui-nav-child" th:each="childMenu,iterStat : ${menu.children}">
                            <dd><a class="huanzi-menu" th:data-url="${#request.getContextPath() + childMenu.menuPath}"
                                   th:data-id="${childMenu.menuId}" th:text="${childMenu.menuName}" href="javascript:;">XXX</a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item" th:if="${#lists.size(menu.children)} eq 0">
                        <a class="huanzi-menu" th:data-url="${#request.getContextPath() + menu.menuPath}"
                           th:data-id="${menu.menuId}" th:text="${menu.menuName}" href="javascript:;">XXX</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>

    <!-- 内容主体区域 -->
    <div class="layui-body" style="overflow-y: hidden;">
        <!--   动态选项卡   -->
        <div class="layui-tab" lay-filter="demo" lay-allowclose="true">
            <!-- 标题 -->
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="11">首页</li>
            </ul>
            <!-- 内容 -->
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-row layui-col-space15" style="padding: 20px;background-color: #F2F2F2;">
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header">欢迎使用</div>
                                <div class="layui-card-body">
                                    欢迎你，<span th:text="${currentUser.username}"></span>
                                    <br/>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 底部固定区域 -->
    <script th:replace="common/footer::footer"></script>


</div>

<script th:inline="javascript">
    var menuList = [[${menuList}]];
    console.log('menuList' + menuList);
</script>
<script>

    layui.use('element', function () {
        let element = layui.element;
        console.log("menu.click");
        $("body").on("click", ".huanzi-menu", function (e) {
            let url = $(this).data("url");
            let id = $(this).data("id");
            let text = $(this).text();

            //如果不存在
            if ($(".layui-tab-title").find("li[lay-id='" + id + "']").length <= 0) {
                let height = document.documentElement.clientHeight - 160 + "px";
                element.tabAdd('demo', {
                    title: text,
                    //iframe子页面onload新增监听src为/loginPage是父页面跳转/loginPage，解决“俄罗斯套娃”问题
                    content: "<iframe onload='if(this.contentWindow.location.pathname == \"" + ctx + "/loginPage\"){window.location.href = \"" + ctx + "\"/login\"} $(this)[0].height = document.documentElement.clientHeight-160' width='100%' height='" + height + "' frameborder='0' scrolling='auto' src='" + url + "'></iframe>",
                    id: id
                });
            }
            element.tabChange('demo', id);
        });
    });
</script>
</body>
</html>
