<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>静远实习项目</title>
    <script th:replace="common/head::static"></script>
    <style>
        * {
            margin: 0;
            padding: 0
        }

        dl {
            margin-bottom: 0px !important;
        }

        .layui-carousel {
            background-color: transparent;
        }
    </style>
</head>
<body class="layui-layout-body">
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <!-- 头部区域-->
        <script th:replace="common/head::index_head"></script>
        <!-- 侧边导航栏-->
        <script th:replace="common/nav::index_nav"></script>
        <!-- 页面标签 -->
        <script th:replace="common/nav::index_pagetabs"></script>

        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe th:src="@{/console}" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>

<script th:inline="javascript">
    var menuList = [[${menuList}]];
    console.log('menuList' + menuList);

    layui.config({
        base: '../common/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index');
</script>

</body>
</html>
